<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/47becaa6-51b8-4644-b8d7-aaa004ae3e7c/resourceGroups/ContactAppResources/providers/Microsoft.Web/sites/contactapi</ResourceId>
    <ResourceGroup>ContactAppResources</ResourceGroup>
    <ApiResourceId>/subscriptions/47becaa6-51b8-4644-b8d7-aaa004ae3e7c/resourceGroups/ContactAppResources/providers/Microsoft.ApiManagement/service/ContactsAPIapi/apis/ContactsAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://contactapi-hsgghuc7h5hwd3hc.centralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>41c2d547-814b-4eae-8f1c-e6520a98cc30</ProjectGuid>
    <MSDeployServiceURL>contactapi-hsgghuc7h5hwd3hc.scm.centralus-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>contactapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>